<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../public/style.css"> donot work -->
    <!-- <link rel="stylesheet" href="style.css">  -->
    <!-- app.js mai public mention kia, so now that file will be in use -->
    <link rel="stylesheet" href="static/style.css"> 
    <link rel="stylesheet" href=".hello.css"> 
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo perferendis quis magnam doloribus commodi ipsum adipisci, sequi, maxime error voluptatum laboriosam? Corporis dolor nihil aliquid suscipit corrupti magnam laborum sed!</p>
    <img src="static/images/ajinkya.jpeg" alt="ajinkya">
    <script src="js/script.js"></script>
</body>
</html>